*{
    padding: 0;
    margin: 0;
    font-family: "Montez", cursive;
    font-weight: 400;
    font-style: normal;
}

.section{
    width: 100%;
    height: 550px;
    text-align: center;
    background-image: url(./../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: yellowgreen;
}
.content{
    width: 80%;
    height: 150px;
    background-color: blue;
    margin: 0 auto;
}
.logo{
    width: 30%;
    height: 150px;
    background-color: yellow;
    float: left;
}
.menu{
    width: 50%;
    height: 150px;
    background-color: purple;
    float: right;
}
.row{
    width: 90%;
    height: 71px;
    background-color: aquamarine;
    margin: 2px auto;
}
.col{
    width: 32%;
    height: 71px;
    background-color: coral;
    float: left;
    margin-left: 3px;
}