*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.header{
    width: 100%;
    background-color: black;
    overflow: auto;
}
.center{
    width: 90%;
    margin: 0 auto;
    overflow: auto;
}
.phone, .email{
    width:35%;
    color: white;
    padding: 5px 0;
}
.phone{
    float: left;
}
.email{
    float: right;
    text-align: right;
}